{% extends 'master.html'%}

{% block title %}

{% endblock title %}

{% block body %}

<body>
    {% for i in orderdata%}
    <div style="height:400px; width:100%; float: left; margin-bottom:10px; margin-top:10px;">
        <center>
            
            <div style="height:100%; width:50%; background-color: white; border:1px solid black;padding:10px; border-radius:10px;">
                <center><h1>ORDER SUMMARY</h1></center>
                <hr>
                <h6 style="float: left; width:50%; text-align: left;"><b>c.Name:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.cname}} </h6>
                <hr>
                <h6 style="float: left; width:50%; text-align:left;"><b>c.Address:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.caddress}} </h6>

                <h6 style="float: left; width:50%; text-align:left;"><b>c.pincode:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.cpincode}} </h6>
                
                <h6 style="float: left; width:50%; text-align: left;"><b>c.mobile:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.cmobile}}  </h6>
                
                <h6 style="float: left; width:50%; text-align: left;"><b>totalquantity:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.cquantity}}  </h6>
                
                <h6 style="float: left; width:50%; text-align: left;"><b>totalpricewithoutgst:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.ctotalwithoutgst}}  </h6>
            
                <h6 style="float: left; width:50%; text-align: left;color: red;"><b>totalpricewithgst:</b></h6><h6 style="float: left; width:50%; text-align: left;">{{i.ctotalwithgst}}  </h6>
                
                
                
                
                
                

            </div>
            
        </center>
        {% endfor %}
    
        

    </div>





<!--     
    {%for product in product %}
    <center><h2 style="color:red;font-size:25px; font-weight: bold; margin-top: 10px;">ORDER SUMMARY</h2></center>
        <div style="min-height: 40%; width:100%; display: flex;flex-direction: column; justify-content: center;align-items: center;  ">
            <div style="height:300px; width:90%; border: 2px solid red; border-radius:20px; background-color: rgb(199, 192, 182);">
                <div style="height:100%; width:50%; float: left; padding:10px;">
                          <center><img src="{{product.buyimage}}" alt="" style="height:100%; width:60%;border-radius:20px;" ></center>
                </div>
                <div style="height:100%; width:50%; float: left; padding:25px; ">
                    <a href="{% url 'mobile1'%}" style="font-size: 25px; text-decoration:none; color: blue; " onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">{{product.buyinfo}}</a>
                    <h6 style="color: rgb(255, 0, 0); font-size:25px;">{{product.buyprice}}</h6>


            
                </div>

            </div>

        </div>
        {% endfor %} -->
        <center><button style="height:60px; width:250px; background-color:rgb(240, 161, 35); border-radius:20px; margin-top:25px;"><a href="{% url 'buydata' %}" style="text-decoration: none; color: black; font-size:20px;">Click To Show Buy DATA</a></button></center>
 






        
        
    
</body>

{% endblock body %}