{% extends 'master.html' %}

{% block title %}
    home
{% endblock title %}

{% block body %}
    <body style="background-color: #d6f1ee">
        
        <div style="height: 1100px; width: 100%; position: relative;" onclick="redirectbestsellerpage()">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG24/Smart_Watches/MED_MAY/Tall_Hero_1500X600_BAU_NewLaunches._CB554931622_.jpg" alt="Image" style="height: 100%; width: 100%; object-fit: cover;">
                <div style="height:550px; width:22%; background-color:white;margin-left:6.3%; margin-top: 20px; float: left; position: absolute; top: 70%; left:6%; transform: translate(-50%, -50%)"  onclick="redirectbestsellerpage()">
                    <div style="height: 50px; width:100%;">
                       <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Remap your home in style</b></h2>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                         <span style="margin-left:20px;"><b>figurine,vases&more</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Cussion cover &</b></span>
                        <span style="margin-left:20px;"><b>bedsheets</b></span>
                    </div>
                    
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>lighting solutionb</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Home storage</b></span>
                    </div>
                    
                </div>   

                <div style="height:550px; width:22%; background-color:white;margin-left:6.3%; margin-top: 20px; float: left; position: absolute; top: 70%; left:31%; transform: translate(-50%, -50%)" onclick="redirectbestsellerpage()">
                    <div style="height: 50px; width:100%;">
                       <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Appliance For Your Home | Up To 55% Off</b></h2>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                         <span style="margin-left:20px;"><b>Air Condishonar</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Refriegeter</b></span>
                        <!-- <span style="margin-left:20px;"><b>bedsheets</b></span> -->
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Microwaves</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Washing Machines</b></span>
                    </div>
                    
                </div>
                
                
                <div style="height:550px; width:22%; background-color:white;margin-left:6.3%; margin-top: 20px; float: left; position: absolute; top: 70%; left:56%; transform: translate(-50%, -50%)" onclick="redirectbestsellerpage()" >
                    <div style="height: 50px; width:100%;">
                       <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Starting ₹149|Bestseling earbuds,headphones</b></h2>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top: 30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_boAt_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                         <span style="margin-left:20px;"><b>Starting ₹249|boat</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Boult_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Starting ₹349|boult</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Noise_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Starting ₹149|noise</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Zeb_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Starting</b></span>
                        <span style="margin-left:20px;"><b>₹249|zebronics</b></span>
                    </div>
                    
                </div>

                <div style="height:550px; width:22%; background-color:white;margin-left:6.3%; margin-top: 20px; float: left; position: absolute; top: 70%; left:81%; transform: translate(-50%, -50%)" onclick="redirectbestsellerpage()" >
                    <div style="height: 50px; width:100%;">
                       <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Automotive essentials | Up to 60% off</b></h2>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Glasscare1X._SY116_CB410830553_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                         <span style="margin-left:20px;"><b>Cleaning Accesaries</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Rim_tyrecare1x._SY116_CB410830552_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Tyre & ream Care</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vega_helmet_186x116._SY116_CB405090404_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Helemets</b></span>
                    </div>
                    <div style="height:250px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vaccum1x._SY116_CB410830552_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                        <span style="margin-left:20px;"><b>Vaccum Cleaner</b></span>
                    </div>
                    
                </div>

                
        </div>


<!-- dividation -->

        <!-- <div style="height:550px; width:25%; background-color:white;margin-left:6.3%;  float: left;" >
                <div style="height: 50px; width:100%;">
                   <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Revamp your home in style</b></h2>
                </div>
                <div style="height:250px; width:50%; background-color: white; float: left;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                     <span style="margin-left:20px;"><b>figurine,vases&more</b></span>
                </div>
                <div style="height:250px; width:50%; background-color: white; float: left;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                    <span style="margin-left:20px;"><b>Cussion cover bedsheets</b></span>
                </div>
                <div style="height:250px; width:50%; background-color: white; float: left;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                    <span style="margin-left:20px;"><b>lighting solutionb</b></span>
                </div>
                <div style="height:250px; width:50%; background-color: white; float: left;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                    <span style="margin-left:20px;"><b>Home storage</b></span>
                </div>
                
        </div>
        <div style="height:550px; width:25%; background-color:white;margin-left:6.3%;  float: left;" >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Revamp your home in style</b></h2>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>figurine,vases&more</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Cussion cover bedsheets</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>lighting solutionb</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Home storage</b></span>
            </div>
            
        </div>
        <div style="height:550px; width:25%; background-color:white;margin-left:6.3%; float: left;" >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Revamp your home in style</b></h2>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>figurine,vases&more</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Cussion cover bedsheets</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>lighting solutionb</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Home storage</b></span>
            </div>
            
        </div> -->

        <div style="height:350px; width:100%; background-color: white; padding-top: 20px;" onclick="redirectbestsellerpage()" >
            <div style="height: 50px;width:100%;">
                <span style="margin-left:20px; font-size:30px;"><b>BEST SELLER COMPUTER & ACCESERIES</b></span>
            </div>

            <div style="padding-top:10px;" onclick="redirectbestsellerpage()">
                
                <img src="https://m.media-amazon.com/images/I/61GQUtqKIpS._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/61UzQMCRaeL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/41KuRShR97L._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/71maWXZscfL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/414FMWNS6jL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/71Zf9uUp+GL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                <img src="https://m.media-amazon.com/images/I/612xkW5fVYL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">

            </div>

        </div>
        <div style="height:350px; width:100%; background-color: white; padding-top: 20px; margin-top:20px;" onclick="redirectbestsellerpage()" >
            <div style="height: 50px;width:100%;" onclick="redirectbestsellerpage()">
                <span style="margin-left:20px; font-size:30px;"><b>BEST SELLER COMPUTER & ACCESERIES</b></span>
            </div>

            <div style="padding-top:10px;" onclick="redirectbestsellerpage()">
                <center>
                    <img src="https://m.media-amazon.com/images/I/81PGrXy3ugL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/91Fskk7gUqL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/61zcOXIJ6uL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/61EiBZ6f18L._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/71d-QwqBlBL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/618Fdfhal8L._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/71YW17LS5YL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/616ZWSICzcL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                    <img src="https://m.media-amazon.com/images/I/71tdEDSG5CL._AC_SY200_.jpg" alt="" onclick="redirectbestsellerpage()">
                </center>
            </div>
        </div>



        <!-- <div style="height:550px; width:25%; background-color:white;margin-left:3%; margin-top: 20px; float: left; " >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Remap your home in style</b></h2>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>figurine,vases&more</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Cussion cover &</b></span>
                <span style="margin-left:20px;"><b>bedsheets</b></span>
            </div>
            
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>lighting solutionb</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Home storage</b></span>
            </div>
            
        </div>   

        <div style="height:550px; width:25%; background-color:white;margin-left:3%; margin-top: 20px; float: left; " >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Appliance For Your Home | Up To 55% Off</b></h2>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>Air Condishonar</b></span>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Refriegeter</b></span>
                
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Microwaves</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Washing Machines</b></span>
            </div>
            
        </div>
        
        
        <div style="height:550px; width:25%; background-color:white;margin-left:3%; margin-top: 20px; float: left; " >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Starting ₹149|Bestseling earbuds,headphones</b></h2>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top: 30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_boAt_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>Starting ₹249|boat</b></span>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Boult_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Starting ₹349|boult</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Noise_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Starting ₹149|noise</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Zeb_0.5x._SY116_CB553870684_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Starting</b></span>
                <span style="margin-left:20px;"><b>₹249|zebronics</b></span>
            </div>
            
        </div>

        <div style="height:550px; width:25%; background-color:white;margin-left:3%; margin-top: 20px; float: left; " >
            <div style="height: 50px; width:100%;">
               <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Automotive essentials | Up to 60% off</b></h2>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Glasscare1X._SY116_CB410830553_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                 <span style="margin-left:20px;"><b>Cleaning Accesaries</b></span>
            </div>
            <div style="height:220px; width:50%; background-color: white; float: left; margin-top:30px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Rim_tyrecare1x._SY116_CB410830552_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Tyre & ream Care</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vega_helmet_186x116._SY116_CB405090404_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Helemets</b></span>
            </div>
            <div style="height:250px; width:50%; background-color: white; float: left;">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vaccum1x._SY116_CB410830552_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                <span style="margin-left:20px;"><b>Vaccum Cleaner</b></span>
            </div>
            
        </div> -->




        <div style="height: 550px; width:100%; margin-top: 20px;" onclick="redirectbestsellerpage()">
            <div style="height:550px; width:22%; background-color:white;margin-left:2.5%;  float: left;" onclick="redirectbestsellerpage()" >
                    <div style="height: 60px; width:100%;">
                    <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Flat ₹50 cashback | Fruits & vegetables | Amazon Fresh</b></h2>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left; border-radius: 50px;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Fresh/GW/BTF_QCs/Nov23/PC2/1x/AllSubcat_RC_PC_1x_01._SY116_CB573024744_.jpg" alt="" style="height: 70%; width:90%; padding:20px; border-radius: 50px;">
                        <span style="margin-left:20px;"><b>Fruits</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Fresh/GW/BTF_QCs/Nov23/PC2/1x/AllSubcat_RC_PC_1x_02._SY116_CB573024744_.jpg" alt="" style="height: 70%; width:90%; padding:20px; border-radius: 50px;">
                        <span style="margin-left:20px;"><b>Vegetable</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Fresh/GW/BTF_QCs/Nov23/PC2/1x/AllSubcat_RC_PC_1x_03._SY116_CB573024744_.jpg" alt="" style="height: 70%; width:90%; padding:20px; border-radius: 50px;">
                        <span style="margin-left:20px;"><b>Season's Special</b></span>
                    </div>
                    <div style="height:220px; width:50%; background-color: white; float: left;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Fresh/GW/BTF_QCs/Nov23/PC2/1x/AllSubcat_RC_PC_1x_04._SY116_CB573024744_.jpg" alt="" style="height: 70%; width:90%; padding:20px; border-radius: 50px;">
                        <span style="margin-left:20px;"><b>Visit Store</b></span>
                    </div>
                    
            </div>



            <div style="height:550px; width:22%; background-color:white;margin-left:2%;  float: left;" onclick="redirectbestsellerpage()">
                <div style="height: 60px; width:100%;">
                    <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Up to 50% off | Diabetes care devices</b></h2>
                </div>
                <div style="height:490px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Pharmacy/GW/2024/Week25/PC_CC_1_1x._SY304_CB553809756_.jpg" alt="" style="padding:20px; width:100%; height:95%;">
                </div>
                
            </div>




            <div style="height: 550px; width:100%; margin-top: 20px;" onclick="redirectbestsellerpage()">
                <div style="height:550px; width:22%; background-color:white;margin-left:2.5%;  float: left;" >
                        <div style="height: 60px; width:100%;">
                        <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Minimum 50% off | Men's clothing</b></h2>
                        </div>
                        <div style="height:220px; width:50%; background-color: white; float: left; border-radius: 50px;">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/GW/BTF_Refersh/June_17/PCQC/1x/New/08._SY116_CB555616559_.jpg" alt="" style="height: 70%; width:90%; padding:20px; ">
                            <span style="margin-left:20px;"><b>T-shirt's</b></span>
                        </div>
                        <div style="height:220px; width:50%; background-color: white; float: left;">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/GW/BTF_Refersh/June_17/PCQC/1x/New/03._SY116_CB555616559_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                            <span style="margin-left:20px;"><b>Classic Photos</b></span>
                        </div>
                        <div style="height:220px; width:50%; background-color: white; float: left;">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/GW/BTF_Refersh/June_17/PCQC/1x/New/02._SY116_CB555616559_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                            <span style="margin-left:20px;"><b>Jeans</b></span>
                        </div>
                        <div style="height:220px; width:50%; background-color: white; float: left;">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/GW/BTF_Refersh/June_17/PCQC/1x/New/01._SY116_CB555616559_.jpg" alt="" style="height: 70%; width:90%; padding:20px;">
                            <span style="margin-left:20px;"><b>Casual Shirts</b></span>
                        </div>
                        
                </div>


                <div style="height:550px; width:22%; background-color:white;margin-left:2%;  float: left;" onclick="redirectbestsellerpage()" >
                    <div style="height: 60px; width:100%;">
                        <h2 style="margin-left: 5px;font-size:25px; padding: 15px;"><b>Up to 70% off | Speciality buys from stores nearby</b></h2>
                    </div>
                    <div style="height:490px;">
                        <img src="https://m.media-amazon.com/images/I/71x3vIcYf1L._AC_SY195_.jpg" alt="" style="padding:20px; width:100%; height:95%;">
                    </div>
                    
                </div>

        </div>
        <div style="height:800px; width:100%;margin-top:20px;" onclick="redirectbestsellerpage()">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200_V3._CB558389732_.jpg" alt="" style="height: 100%; width:100%;">

        </div>

        <script>
            function redirectbestsellerpage(){
                var bestseller = "{% url 'bestseller'%}"
                window.location.href = bestseller
            }
        </script>

        
    </body>
{% endblock body %}