{% extends 'master.html' %}

{% block title %}
    sell
{% endblock title%}

{% block body %}
  <body >
    <div style=" position: fixed; top: 300px; right: 20px; background-color: orangered; padding: 10px 20px; border: 1px solid #ccc; border-radius: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); z-index: 1000; cursor: pointer;"  >
        Start Selling
    </div>
    <div style="height:400px; width:100%;background-color: rgb(172, 201, 201); margin-top: 20px;">
        <div style="height:100%; width:50%; text-align: center; padding:30px; float: left;">
            <h1 style="font-size: 72px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; margin-right:10px;"><b>Become a seller on</b></h1>
            <h1 style="font-size: 72px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; margin-right: 370px;"> <b>Amazon.in</b></h1>
            <h6  >Sell on Amazon.in, India's most visited shopping destination and get a chance to get benefits worth ₹25,000*</h6>
            <button type="button" class="btn btn-warning" style="border-radius:20px; height:50px; width: 200px; margin-top:50px; margin-bottom:10px; background-color:orangered;">Start Selling</button>
            <br>
            <a href="" style="margin-right:90px;  color: black;"onmouseover="this.style.textDecoration='none';">T&C Apply*</a>

        </div>
        <div style="height:100%; width:50%; float: left;">
            <center>
            <div style="width: 400px;
            height: 400px;
            background-color: orange; 
            border-radius: 50%;  ">
                <img src="https://m.media-amazon.com/images/G/31/amazonservices/New_PRO.webp" alt="" style="height: 100%; width:100%;">

            </div>
            </center>

        </div>

    </div>
    
    <div style="height:580px; width:100%; margin-top: 55px;">
        <center>
            <div style="height: 580px; width:85%;background-color: white; margin-top:20px; border:1px solid rgb(0, 255, 238); border-radius:25px;">
                <div style="height:80px; width:100%;">
                    <h1 style="font-size:70px;"><b>How to sell on Amazon.in?</b></h1>

                </div>
                <div style="height:250px; width:100%;">
                    <div style="height:250px; width:50%;float: left;">
                        <div style="height:250px;width:30%; float: left;padding:10px;">
                           <img src="https://m.media-amazon.com/images/G/31/sellonamazon/experiment/HowSellingonAmazonWorks-Template3-Asset1._CB406684202_._SY200_.png" alt="" style="height: 100%; width:100%;">
                        </div>
                        <div style="height:250px; width:70%; float: left;">
                            <h2 style="margin-top:60px;"><b>STEP 1: Register your account</b></h2>
                            <h5 style="margin-right:20px;">Register on Amazon with GST/PAN details and</h5>
                            <h5 style="margin-right:230px;">an active bank account</h5>

                        </div>
                    </div>

                    <div style="height:250px; width:50%;float: left;">
                        <div style="height:250px;width:30%; float: left;padding:10px;">
                           <img src="https://m.media-amazon.com/images/G/31/sellonamazon/experiment/HowSellingonAmazonWorks-Template3-Asset3._CB406684197_._SY200_.png" alt="" style="height: 100%; width:100%;">
                        </div>
                        <div style="height:250px; width:70%; float: left;">
                            <h2 style="margin-top:60px;"><b>STEP 2: Choose storage &</b></h2>
                            <h2 style="margin-right:250px;"><b>shipping</b></h2>
                            <h5 style="margin-right:20px;">Choose storage, packaging, and delivery</h5>
                            <h5 style="margin-right:310px;">options</h5>

                        </div>
                    </div>
                </div>
                <div style="height: 250px; width:100%;">
                    <div style="height:250px; width:50%;float: left;">
                        <div style="height:250px;width:30%; float: left;padding:10px;">
                           <img src="https://m.media-amazon.com/images/G/31/sellonamazon/experiment/HowSellingonAmazonWorks-Template3-Asset2._CB406684202_._SY200_.png" alt="" style="height: 100%; width:100%;">
                        </div>
                        <div style="height:250px; width:70%; float: left;">
                            <h2 style="margin-top:60px;"><b>STEP 3:  List your products</b></h2>
                            <h5 style="margin-right:20px;">List your products by providing product</h5>
                            <h5 style="margin-right:230px;">and brand details</h5>

                        </div>
                    </div>

                    <div style="height:250px; width:50%;float: left;">
                        <div style="height:250px;width:30%; float: left;padding:10px;">
                           <img src="https://m.media-amazon.com/images/G/31/sellonamazon/experiment/WhySellonAmazon-SecurePayment-Option4._SL1280_FMpng_.png" alt="" style="height: 100%; width:100%;">
                        </div>
                        <div style="height:250px; width:70%; float: left;">
                            <h2 style="margin-top:60px;"><b>STEP 4:  Complete orders & get</b></h2>
                            <h2 style="margin-right: 390px;"><b>paid</b></h2>
                            <h5 style="margin-right:20px;">Deliver orders to customers on time and get paid</h5>
                            <h5 style="margin-right:230px;">within 7 days of delivery</h5>
                        </div>
                    </div>

                </div>
                    
                

            </div>
        </center>

    </div>

    <div style="height:200px; width:100%; padding:20px; margin-top:35px;">
        <center><h1 style="font-size: 72px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; text-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.2); ; "><b>Why become a seller on Amazon.in?</b></h1></center>
    </div>

    <div style="height: 300px; width:100%; background-color: white; ">
        <div style="height:100%; width:30%; float:left; background-color:white; margin-left:2.5%; background-color: white;
            box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2); padding:25px; ">
            <center><h1 style="font-size: 35px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; margin-top: 35px; "><b>Crores of customers</b></h1></center>
            <center><hr style="color: blue; border:2px solid blue; background-color: blue;"></center>
            <center><h4>Reach crores of customers on Amazon.in, India's most visited shopping destination.</h4></center>

        </div>
        <div style="height:100%; width:30%; float:left; background-color:white; margin-left:2.5%; background-color: white;
            box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2); padding:25px; ">
            <center><h1 style="font-size: 35px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; margin-top: 35px; "><b>26,800 crorepati sellers</b></h1></center>
            <center><hr style="color: blue; border:2px solid blue; background-color: blue;"></center>
            <center><h4>95,500 lakhpati sellers in 2023 alone. You could be next.</h4></center>

        </div>
        <div style="height:100%; width:30%; float:left; background-color:white; margin-left:2.5%; background-color: white;
            box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2); padding:25px; ">
            <center><h1 style="font-size: 35px;font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif; margin-top: 35px; "><b>Unbeatable Reach</b></h1></center>
            <center><hr style="color: blue; border:2px solid blue; background-color: blue;"></center>
            <center><h4>Deliver to 100% of India's serviceable pincodes, through Easy Ship & Fulfillment by Amazon.</h4></center>

        </div>

    </div>
    <div style="height:200px; width:100%;">
        <center><button type="button" class="btn btn-warning" style="border-radius:20px; height:50px; width: 200px; margin-top:100px; background-color:orangered; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">Start Selling</button></center>

    </div>

    

    
  </body>
{% endblock body %}

